
.container {
    margin: 0 auto;
    padding: 10px;
    background-color: lightcoral;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-center {
    justify-content: center;
}

.f-grow {
    flex-grow: 1;
}

.playerInfoDecoration {
    background-color: gray;
    color: white;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.townDecoration, .arenaDecoration {
    background-color: slategray;
}

.townDecoration div img, .arenaDecoration div img {
    height: 300px;
    width: 500px;
    padding: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.battlefieldDecoration {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
}

.creatureInfoDecoration {
    border: 1px solid black;
    margin: 5px;
}